<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">
    
<head>
    <meta charset="utf-8" />
    <title>Removing All Authors</title>
</head>

<body style="border: 5px solid; border-color: rgb(43, 100, 173); border-style: inset; padding: 10px; background-color:rgb(52, 165, 240);">
    <h1>Removing All Authors</h1>
    <form action="./adminRemove" method="post">
        <input type="submit" value="Remove All Authors"/> 
    </form>  
    <hr>
    <a href="/">HOME</a>
</body>