<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">
    
<head>
    <meta charset="utf-8" />
    <title>Display Books with these Criteria</title>
</head>

<body style="border: 5px solid; border-color: rgb(43, 100, 173); border-style: inset; padding: 10px; background-color:rgb(52, 165, 240);">
    <h1>Display All Books Greater than the Given Criteria</h1>
    <form action="./adminGFA" method="post">
        <label><strong>Number of Editions:</strong> <input type="number" name="numEditions"></label><br><br>
        <label><strong>First Publish Year:</strong> <input type="number" name="firstPublishYear"></label><br><br>

        <br>
        <input type="submit" value="Submit Application"/> 
    </form>  
    <hr>
    <a href="/">HOME</a>
</body>