<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">
    
<head>
    <meta charset="utf-8" />
    <title>Welcome to the Authors' Database</title>
</head>

<body style="border: 5px solid; border-color: rgb(43, 100, 173); border-style: inset; padding: 10px; background-color:rgb(52, 165, 240);">
    <h1>Welcome to the Database of Authors</h1> <br>
    Here, you can view some of the authors, and their most popular works, that many kids throughout our generation read growing up!
    <ul>
        <li>To add authors to the database select <a href="/apply">Add Author</a></li>
        <li>To review all the works of an added author select <a href="/reviewApplication">Review Authors</a></li>
        <li>To sort books of an added author by various factors select <a href="/adminGFA">Sort Works</a></li>
        <li>To remove all authors and book <a href="/adminRemove">Remove All Authors</a></li>
    </ul>
	<hr>
</body>